@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #333;
}

section{
    display: grid;
    grid-template-areas: 'div1 div1 div2'
                        'div3 div3 div4'
                        'div5 div5 div6'
                        'div7 div7 div6'
                        'div7 div7 div8' ;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

h1,h4{
    color: lightskyblue;
    font-family: Ubuntu;
}

strong{
    text-transform: uppercase;
    font-weight: bold;
}

h4{
    text-decoration: underline;
}

p{
    color: #d6d6d6;
    font-family: Rubik;
}

a{
    color: #bcdbf8;
    text-decoration: none;
}

.Name{
    grid-area: div1;
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: space-between; */
}

.Name > div:nth-child(1){
    width: 60%;
}

.Name > div:nth-child(2){
    width: 30%;
}

.ingressive img{
    width: 100%;
}
 
h1{
    text-transform: uppercase;
}

.details{
    grid-area: div2;
    text-align: right;
}

.exp{
    grid-area: div3;
    height: 100%;
    
}

.exp div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.skill{
    grid-area: div4;
    padding: 5% 0%;
}

.edu{
    grid-area: div5;
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.cert{
    grid-area: div6;
}

.project{
    grid-area: div7;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.lang{
    grid-area: div8;
}

.lang span{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 0.85rem;
    }
    
    section{
        display: grid;
        grid-template-areas: 'div1'
                            'div2'
                            'div3' 
                            'div4'
                            'div5'
                            'div6'
                            'div7'
                            'div8' ;
        gap: 10px;
        width: 90%;
        margin: 0 auto;
    }

    .Name{
        padding: 5px;
        grid-area: div1;
        text-align: center;
    }

    .Name{
        grid-area: div1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* justify-content: space-between; */
    }
    
    .Name > div:nth-child(1){
        width: 100%;
    }
    
    .Name > div:nth-child(2){
        width: 100%;
    }

    .ingressive img{
        width: 50%;
        height: 50%;
    }
     
    h1{
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    
    .details{
        grid-area: div2;
    }
    
    .exp{
        width: 100%;
        grid-area: div3;
    }
    
    .skill{
        width: 100%;
        grid-area: div4;
    }
    
    .edu{
        width: 100%;
        grid-area: div5;
    }
    
    .cert{
        width: 100%;
        grid-area: div6;
    }
    
    .project{
        width: 100%;
        grid-area: div7;
    }
    
    .lang{
        width: 100%;
        grid-area: div8;
    }
}